<div class = "layout">
 <%= form_tag(create_matches_path) do %>
 <%= hidden_field_tag 'receiver_id', @cat.id %>

 <%= submit_tag("Yes, Please", id: "button") %>
 <%= submit_tag("No, Thanks", id: "button") %>

 <%end %> 
</div>
