@import url(http://fonts.googleapis.com/css?family=Varela+Round);
.index h1{
  text-align: center;
  margin-top: 10%;
}

body{
  font-family: "Varela Round", sans-serif;
  background-image: url("https://raw.githubusercontent.com/suomiseth/kittinder/mess_around_with_background/catlove_small.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

html::after {
  content: "";
  opacity: 0.15;
  background-color: #129174;
  background-repeat: repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.fixed-nav-bar li{ 
  height: 50px;
}

.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

/*.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}*/

.menu-items{
  padding-bottom: 20px;
}
.menu-items li{
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.menu-items a{
  text-decoration: none;
}

.menu a{
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
}

.layout{
margin-left: 15%;
margin-right: 15%;
margin-top: 9%;
}

.show-box {
  background-color: #CCEAEC;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10%;
  text-align: center;

}

div.show-box{
  background-color: rgba(255,255,255, 0.7);
}

/*div.show-box p{
  color: #000000;
}*/

.white{
  color: white;
}

.show-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: 70%;
}

.show-box li{
  text-align: center;
}

.ul-text{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 50%;
  /*padding-left: 0;*/
}

.index-list{
  display: inline-block;
  vertical-align: top;
  background-color: #CCEAEC;
  max-width: 20%;
  height: 60%;
  margin-left: 10%;
  margin-top: 5%;
  padding-bottom: 20px;
  padding-top: 20px;
  /*padding-left: 0;*/
  border-radius: 10%;
  text-align: center;
}

.index-list ul{
  padding-left: 0;
}
.index img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 50%
}



.show-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 25%;
  height: auto;
  max-height: 22%
}


.show-column {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  background-color: #CCEAEC;
  border-radius: 10%;
  text-align: center;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-columns{
  width: 100%;
  margin-top: 10%;
}

.submit_button{
  display: inline-block;
  width: 35%;
  padding: 2.5%;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  color :#000;
  background: transparent;
  border: 1px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
}

#yes:hover,
#yes:active {
  background-color: #129174;
  color: #fff;
  cursor: pointer;
}

#no:hover,
#no:active {
  background-color: #FF6666;
  color: #fff;
  cursor: pointer;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
