<div class="index">
<h1>Cat Bachelors/Bachelorettes</h1>

<% @cats.each do |cat|%>
  <div class="index-list"
    <ul style="list-style-type: none;">
      <li>
        <p>
        <img src= "<%=cat.photo_url%>" alt="Cat" height="30" width="30">
        </p>
        <a href="/cats/<%=cat.id%>"><%=cat.name%></a>
      </li>
    </ul>
  </div>
<%end%>
</div>