<!DOCTYPE html>
<html>
<head>
  <title>Kittinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- navigation bar -->
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <!-- Example responsive navigation menu  -->
      <ul class="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/cats">Cats</a></li>
        <li><a href="/owners">Owners</a></li>
    </ul>
    </div>
  </nav>
  <!-- end navigation bar -->

<%= yield %>

</body>
</html>
